<ion-view>
	<ion-content>

	<div class="row" style="text-align: center">
    <div class="col col-40">
      <h1 class="scoreboard">{{models.game.score[0] || 0}}</h1>
      <h3>Burning Macaroons</h3>
    </div>
    <div class="col">
      <h1 class="scoreboard">-</h1>
      <!-- <h3>vs.</h3> -->
    </div>
    <div class="col col-40">
      <h1 class="scoreboard">{{models.game.score[1] || 0}}</h1>
      <h3>CANNED MEAT</h3>
    </div>
  </div>

  <span ng-click="fullPreloads()">fire full pre-loads</span>

	<ui-view></ui-view>
<!-- subs/inPlay -->

	</ion-content>
</ion-view>