<ion-view>
  <ion-content>
    <!-- <form> -->
    <form ng-submit="mgmt.submitPlayer()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">First Name*</span>
          <input type="text" autofocus="true" ng-model="mgmt.player.first">
        </label>
        <label class="item item-input">
          <span class="input-label">Last Name*</span>
          <input type="text" ng-model="mgmt.player.last">
        </label>
        <label class="item item-input">
          <span class="input-label">Handle</span>
          <input type="text" ng-model="mgmt.player.handle">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">Frisbee Gender</div>
          <select ng-model="mgmt.player.gender">
            <option>m</option>
            <option>f</option>
          </select>
        </label>

        <h4>Add to teams:</h4>
        <div class="list"> 
          <div class="item item-toggle align-left" ng-repeat="(id, team) in mgmt.models.teams">
            {{team.name}}
            <label class="toggle">
              <input ng-model="mgmt.status[id]" type="checkbox">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </div>
        </div>

        <label class="item">
          <button class="button button-block button-positive" type="submit" ng>Done</button>
        </label>

      </div>
    </form>
  </ion-content>
</ion-view>
<!--  -->