<ion-modal-view>
  <ion-content>
    <form>
    <!-- <form ng-submit="mgmt.submitPlayer()"> -->
      <div class="list">
        <label class="item item-input">
          <span class="input-label">First Name*</span>
          <input type="text" autofocus="true" ng-model="mgmt.player.first">
        </label>
        <label class="item item-input">
          <span class="input-label">Last Name*</span>
          <input type="text" ng-model="mgmt.player.last">
        </label>
        <label class="item item-input">
          <span class="input-label">Handle</span>
          <input type="text" ng-model="mgmt.player.handles[0]">
        </label>
        <label class="item item-input">
          <span class="input-label">Gender</span>
          <input type="radio" name="gender" value="m">
          <input type="radio" name="gender" value="f">
        </label>        
        <!-- gender -->

        <h4>Add to teams:</h4>
        <div class="list"> 
          <div class="item item-toggle align-left" ng-repeat="(id, team) in mgmt.models.teams">
            {{team.name}}
            <label class="toggle">
              <input ng-model="mgmt.player.teams[id]" type="checkbox">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </div>
        </div>

        <label class="item">
          <button class="button button-block button-positive" type="submit" ng-click="mgmt.submitPlayer()">Done</button>
          <!-- <button class="button button-block button-positive" type="submit" ng-click="mgmt.submitPlayer('false')">And Another One</button> -->
        </label>

      </div>
    </form>
  </ion-content>
</ion-modal-view>
