<ion-view>
    <ion-content>
        <form ng-submit="mgmt.submitTeam()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Team Name*</span>
                    <input type="text" autofocus="true" ng-model="mgmt.team.name">
                </label>
                    <label class="item item-input">
                    <span class="input-label">Abbreviation (max 8 chars.)</span>
                    <input type="text" maxlength="8" ng-model="mgmt.team.short">
                </label>
                <p>i.e.: "Stack to the Future" -> "Stack" or "SttF"</p>
                <!-- main color -->
                <!-- secondary -->
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Done</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>
