<ion-view>
	<ion-content>
		<div class="row" style="text-align: center">
			<h3 class="col">{{mgmt.team.name}}</h3>
		</div>

		<div class="row" style="text-align: center">
			<div class="col">Edit Team</div>
			<div class="col">Stats</div>
			<div class="col button button-balanced" ng-click="mgmt.initGame()">+Game</div>
		</div>

		<div class="row">
			<div class="col col-50">
				<p ng-repeat="player in mgmt.models.roster" ng-click="mgmt.managePlayer(player)" class="player">
			        {{player.first + ' ' + player.last}}
				</p>
			</div>
		</div>

		<button class="button button-balanced" ng-click="mgmt.managePlayer({})">Add player</button>
		<!-- add player by email; (big email format) -->
	</ion-content>
</ion-view>