<ion-view>
	<ion-content>
		<div class="row" style="text-align: center">
			<h3 class="col">{{mgmt.team.name}}</h3>
		</div>

		<div class="row" style="text-align: center">
			<div class="col" ng-click="mgmt.manageTeam(mgmt.team)" ui-sref="team.editTeam">Edit Team</div>
			<div class="col">Stats</div>
			<div class="col button button-balanced" ng-click="mgmt.initGame()">+Game</div>
		</div>

		<ul class="list">
			<li class="item item-balanced" ng-click="mgmt.managePlayer({})" style="text-align: center;">+PLAYER</li>
			<li class="item" ng-repeat="player in mgmt.models.roster | orderBy: 'handle'" ng-click="mgmt.managePlayer(player)">
		        <!-- {{player.first + ' ' + player.last}} -->
		        {{ player.first === player.handle ? 
			        player.first + ' ' + player.last :
	         		player.handle
		        }}
			</li>
		</ul>

		<!-- add player by email; (big email format) -->
	</ion-content>
</ion-view>