<ion-view>
	<ion-content>

	<div class="row">
		<div class="col">
			<h2 style="text-align: center;">Your Teams</h2>
		</div>

	</div>
	
	<li><a ui-sref="team.allPlayers">All Players</a></li>
	<ul class="list">
		<li class="item" ng-click="mgmt.manageTeam()" style="text-align: center;">New Team</li>
		<!-- <br> -->
		<li class="item {{team.primary}}" ng-repeat="(id, team) in mgmt.models.teams | orderBy: 'name'" ng-click="mgmt.focusTeam(team)">
			{{team.name}}
		</li>
	</ul>

	</ion-content>
</ion-view>