<div>

<!-- do styling without relying on h3's -->

	<div class="row">
		<h3 class="col">{{ stats.card.first + ' ' + stats.card.last }}</h3>
		<!-- formatting player name -> handle/not -->
		<p class="col col-33">Career: {{stats.card.perf.games}}/{{stats.card.perf.points}}/{{stats.card.perf['+/-']}}</p>
	</div>

	<div>Teams:
		<span ng-repeat="team in stats.card.teams" ng-click="stats.teamCard(team._id)" class="player {{team.primary}}">{{team.name + ' '}}</span>
	</div>

	<!-- <p class="col col-33">Games: {{stats.card.perf.games}} Points: {{stats.card.perf.points}} +/-: {{stats.card.perf['+/-']}}</p> -->

	<div class="row">
		<div class="col centered" ui-sref="stats.player.games">Game History</div>
		<div class="col centered" ui-sref="stats.player.points">Point History</div>
	</div>

	<ui-view></ui-view>

</div>