<div>

<!-- 	<div ng-repeat="game in stats.card.games" ng-click="stats.gameCard(game._id)" class="row">
		<p class="col">
			vs. {{ (game.teams[1].name || game.misc.opponent || 'THEM') }}
		</p>
		<p class="col-20">
			{{ game.score[0] + ' - ' + game.score[1] }}
		</p>
	</div> -->

	<ul class="list">
		<li ng-repeat="game in stats.card.games" ng-click="stats.gameCard(game._id)" class="item list-item row">
			<span class="col">
			vs. {{ (game.teams[1].name || game.misc.opponent || 'THEM') }}
			</span>
			<span class="col-20">
			{{ game.score[0] + ' - ' + game.score[1] }}
			</span>
		</li>
	</ul>

</div>