<div>

	<div class="row">
    <div class="col col-33">
      <h3 ng-click="gm.recordScore(1)">We Scored!</h3>
    </div>
    <div class="col col-33 col-offset-33">
      <h3 ng-click="gm.recordScore(0)">They Scored...</h3>
    </div> 
  </div>

	<div class="row">
		<div class="col col-50">
			<h5>Stats</h5>
		</div>
		<div class="col col-25 col-offset-20" style="text-align: right">
			<h5>Field</h5>
		</div>
	</div>
	<div class="row">
		<div class="col col-50">
			<p ng-click="gm.recordStat('throwaway')">Throwaway</p>
			<p ng-click="gm.recordStat('drop')">Drop</p>
			<p ng-click="gm.recordStat('D')">D</p>
			<p ng-click="gm.recordStat('goldStar')">Gold Star</p>
		</div>

    <div class="col col-25 col-offset-20">
      <p 
        ng-repeat="player in gm.field | filter: {gender: 'f'} | orderBy: 'handle'"
        ng-click="gm.recordStat(player)"
        class="player {{gm.models.gameTeam.primary}}">
        {{player.handle || player.first}}
      </p>
      <p 
        ng-repeat="player in gm.field | filter: {gender: 'm'} | orderBy: 'handle'"
        ng-click="gm.recordStat(player)"
        class="player {{gm.models.gameTeam.secondary}}">
        {{player.handle || player.first}}
      </p>		</div>
	</div>	
</div>