<div>
	<ul class="list game">
		<li ng-repeat="point in gm.models.game.points" class="item game item-scroll">
		<span style="font-size: 20px; font-weight: bold;" class="my-button" ng-class="{ {{gm.models.gameTeam.primary}}: point.result, white: !(point.result) }">{{point.score[0]}} - {{point.score[1]}}</span>
		<!-- create class for score -->
		<span ng-repeat="person in point.line | orderBy: ['-gender', 'handle']">{{' ' + gm.models.players[person].handle}},</span>
		<!-- $last and the comma; prefer to have girls first -->
		</li>
		<li class="item centered" ng-click="gm.scoreboard()"><span class="underline">Back to the Game</span></li>
	</ul>
</div>