<div>
	<ul class="list game">
		<li ng-repeat="point in gm.models.game.points" class="item game">
		<span style="font-size: 20px; font-weight: bold;" class="my-button" ng-class="{ {{gm.models.gameTeam.primary}}: point.result, white: !(point.result) }">{{point.score[0]}} - {{point.score[1]}}</span>
		Line:<span class="item-scroll" ng-repeat="person in point.line">{{' ' + gm.models.players[person].handle}},</span>
		<!-- $last and the comma -->
		</li>
		<li class="item" style="text-align: center;" ng-click="gm.scoreboard()"><span style="text-decoration: underline;">Back to the Game</span></li>
	</ul>
</div>