<div>

  <div class="row">
    <div class="col col-50 col-offset-25">
      <h4 ng-click="gm.doneSubs()" class="game my-button white">Done Subs</h4>
    </div>
  </div>

<!-- adding .substr(0,12) to counter excessively long names -->

  <div class="row">
    <div class="col col-25">
      <h5 class="game">Men</h5>
    </div>
    <div class="col col-25">
      <h5 class="game">Women</h5>
    </div>
    <div class="col col-25 col-offset-20" style="text-align: right">
      <h5 class="game">Field</h5>
    </div>
  </div>
	<div class="row">
		<div class="col col-25">
      <p ng-repeat="guy in gm.bench | filter: {gender: 'm'} | orderBy: 'handle'" 
      ng-click="gm.move(guy, gm.bench, gm.field)" 
      class="player {{gm.models.gameTeam.secondary}}">
      {{guy.handle}}
      </p>
		</div>
    <div class="col col-25">
      <p ng-repeat="girl in gm.bench | filter: {gender: 'f'} | orderBy: 'handle'" 
      ng-click="gm.move(girl, gm.bench, gm.field)" 
      class="player {{gm.models.gameTeam.primary}}">
      {{girl.handle}}
      </p>
    </div>

    <div class="col col-25 col-offset-20">
      <p ng-repeat="player in gm.field | filter: {gender: 'f'} | orderBy: 'handle'" 
      ng-click="gm.move(player, gm.field, gm.bench)" 
      class="player {{gm.models.gameTeam.primary}}">
      {{player.handle}}
      </p>

      <p ng-repeat="player in gm.field | filter: {gender: 'm'} | orderBy: 'handle'" 
      ng-click="gm.move(player, gm.field, gm.bench)" 
      class="player {{gm.models.gameTeam.secondary}}">
      {{player.handle}}
      </p>

      <p class="my-button grey" ng-click="gm.clearLine()">Clear Line</p>
    </div>
	</div>

  <p class="my-button grey smooth-trans" ng-click="gm.closeGame()">Close Game</p>
  <!-- ui-sref to confirmation -->

  <p class="my-button grey smooth-trans" ng-show="gm.oops" ng-click="gm.undoScore()">Oops! Undo that point</p>

</div>