<div>

  <div class="row">
    <div class="col col-33 col-offset-33">
      <h3 ng-click="gm.doneSubs()">Done Subs</h3>
    </div>
  </div>

  <div class="row">
    <div class="col col-25">
      <h5>Men</h5>
    </div>
    <div class="col col-25">
      <h5>Women</h5>
    </div>
    <div class="col col-25 col-offset-20" style="text-align: right">
      <h5>Field</h5>
    </div>
  </div>
	<div class="row">
		<div class="col col-25">
      <p ng-repeat="guy in gm.bench | filter: {gender: 'm'} | orderBy: 'handle'" ng-click="gm.move(guy, gm.bench, gm.field)" class="player {{gm.models.gameTeam.secondary}}">{{guy.handle || guy.first}}</p>
		</div>
    <div class="col col-25">
      <p ng-repeat="girl in gm.bench | filter: {gender: 'f'} | orderBy: 'handle'" ng-click="gm.move(girl, gm.bench, gm.field)" class="player {{gm.models.gameTeam.primary}}">{{girl.handle || girl.first}}</p>
    </div>

    <div class="col col-25 col-offset-20">
      <p ng-repeat="player in gm.field | filter: {gender: 'f'} | orderBy: 'handle'" ng-click="gm.move(player, gm.field, gm.bench)" class="player {{gm.models.gameTeam.primary}}" >{{player.handle || player.first}}</p>

      <p ng-repeat="player in gm.field | filter: {gender: 'm'} | orderBy: 'handle'" ng-click="gm.move(player, gm.field, gm.bench)" class="player {{gm.models.gameTeam.secondary}}" >{{player.handle || player.first}}</p>

      <p ng-click="gm.clearLine()">Clear Line</p>
    </div>
	</div>

</div>