/* Empty. Add your own CSS if you like */
.player {
	padding-left: 5px;
/*	border-radius: : 2px;
*/}

.m {
	background-color: blue;
	border-radius: 5px;
}

.f {
	background-color: red;
	border-radius: 5px;
}

.scoreboard {
	font-size: 72px;
}